//- This is a generated file. Make your changes to the .tmpl file instead.

if environment == 'development'
  link(rel="stylesheet",href="/css/jquery.mobile-1.2.0.min.css")
  link(rel="stylesheet",href="/css/layerslider/layerslider.css")
  link(rel="stylesheet",href="/css/layerslider/layerstyle.css")
  link(rel="stylesheet",href="/css/jquery.mobile.stepper.css")
else
  link(rel="stylesheet",href="/css/65c907d05ce19d9132e3cc9e1271ce2c.css")
