if environment == 'development'
  link(rel="stylesheet",href="/css/jquery.mobile-1.2.0.min.css")
  link(rel="stylesheet",href="/css/layerslider/layerslider.css")
  link(rel="stylesheet",href="/css/layerslider/layerstyle.css")
  link(rel="stylesheet",href="/css/jquery.mobile.stepper.css")
else
  link(rel="stylesheet",href="/css/<PLACEHOLDERFORMINIFIEDFILE>")
